* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',
        'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;
    outline: none;

}

:root {
    --index: calc(1vw + 1vh);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width: 1200px;
    margin-bottom: 10px;
}

.nav {
    height: 80px;
    max-width: calc(var(--index)*120);
}

.nav_menu {
    display: flex;
    justify-content: center;
}

.tytle_menu {
    padding: calc(var(--index)*1);
    display: block;
}

.text_navigator {
    color: black;
    font-size: calc(var(--index)*0.8);
    text-transform: capitalize;
    display: block;
}

.text_navigator:hover {
    border-bottom: 3px solid rgba(216, 11, 11, 0.971);
    color: rgba(216, 11, 11, 0.971);
    transform: scale(1.1);
    transition: .2s;

}

.main {
    display: flex;
    overflow: hidden;
    /* height: 50vh; */
    align-items: center;
    flex-direction: column;
    margin-top: 83px;
    margin-bottom: 40px;
}

.main_header {
    display: block;
    letter-spacing: 12px;
    font-size: calc(var(--index)*3);
    font-weight: 300;
    text-align: center;
    /* filter: brightness(50%); */
}

.preloader_first {
    letter-spacing: 12px;
    font-size: calc(var(--index)*1.5);
    font-weight: 300;
    text-align: center;
}

.main_header span {
    display: block;
    font-size: calc(var(--index)*.7);
    margin-top: 5px;
}

.shelf_books_conteiner {
    display: flex;
    flex-direction: column;
}

.shelf_books {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.sh {
    margin-top: -6px;
    background-color: gray;
    box-shadow: -2px 8px 27px -1px darkgrey;
    margin-bottom: 15px;
    border-top: 11px solid #D3D3D3;
    z-index: 1;
    border-radius: 3px;
    width: 300px;
}

.shelf_books_link {
    opacity: 0.8;
    display: block;
}

.shelf_books_link:hover {
    filter: brightness(150%);
    opacity: 1;
    transform: scale(1.1);
    transition: .5s;
}

.case {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_header {
    display: block;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 300;
}

.case_box {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.case_item {
    margin: 20px;
    height: max-content;
}

.buttom_case_item {
    display: flex;
    align-items: center;
    width: 144px;
    height: 65px;
    position: relative;
    top: -193px;
    left: 59px;
    background-color: white;
}

.buttom_text {
    display: block;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: underline;
}

.hidden {
    display: none;
}



.case_item:hover .buttom_text {
    display: none;

}

.case_item:hover .case_item_img {
    transform: scale(1.15);
    transition: .5s;
}

.case_item:hover .buttom_case_item {
    transform: scale(1.15);
    transition: .5s;
}

.case_item:hover .hidden {
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    text-decoration: underline;
    color: rgba(133, 6, 6, 0.764);
    transition: .5s;
}

.prelim {
    display: flex;
    justify-content: center;
}


.prilim_cabinet {
    background-image: url(img/cabinetColomn.png);
    background-repeat: no-repeat;
    opacity: 0.8;
    max-width: calc(var(--index)*150);
    min-width: 740px;
    height: 79vh;
    background-position: center;
    background-size: contain;
}

@media (max-width: 500px) {
    .prilim_cabinet {
        display: none;
    }
}

.loader {
    transition: opacity 15s;
}

.loaded .loader {
    opacity: 1;
    transition: opacity 10s;
}

.loaded .main_header {
    opacity: 1;
    transition: opacity .1s;
    opacity: 0.8;
}

.loaded .preloader_first {
    opacity: 0;
    transition: opacity 1.8s;
}